input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.slider{
    padding: 40px 30px;
}

.slider-image .item{
    height: 400px;
}

.slider-image img{
    height: 100%;
}

.section-content{
    padding: 35px 0;
}

.section-image-top{
    margin: 15px auto;
    width: 50%;
}

.section-item{
    position: relative;
    padding: 10px 0;
}

.text-inner{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    opacity: 0;
    transition: opacity 0.3s;
}
.text-inner:hover{
    opacity: 1;
}

.text-inner a{
    padding: 10px 20px;
    color: #fff;
    background-color: #000;
    font-weight: 700;
    transform: scale(0);
    transition: transform 0.3s;
}
.text-inner:hover a{
    transform: scale(1);
}

.product-title{
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #000 !important;
    margin-bottom: 3em;
}

.product-title h3{
    font-size: 1.25em;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: #1c1c1c;
}   

.nav-link{
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    border: none !important;
    background-color: transparent;
}
.nav-item .active{
    background-color: #000 !important;
    color: #fff !important;
}


.tab-menu{
    padding: 20px 0;
}

.product-image img{
    width: 100%;
}

.product-content{
    text-align: center;
}
.product-name{
    margin: 10px 0;
}
.product-name a{
    color: #334862;
}
.product-price {
    color:#c30005;
    font-weight: bold;
    margin-bottom: 10px;
}
.add-to-cart-button button{
    background-color: #c30005;
    font-size: .8em;
    color: #ffffff;
    box-shadow: inset 0 0 0 100px rgb(0 0 0 / 20%);
    opacity: 0;
    border-color: rgba(0,0,0,0.05);
    padding: 0.6em 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    transform: scale(0);
    transition: transform 0.3s, opacity 0.3s;
}
.product-block:hover .add-to-cart-button button{
    transform: scale(1);
    opacity: 1;
}


.product{
    padding: 30px 0;
}

.list-product{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}

.view-all{
    text-align: center;
    margin-top: 20px;
}
.view-all a{
    color: rgba(102,102,102,0.85) ;
    transition: border .3s, background .3s,color .3s;
    border: 2px solid currentColor;
    padding: 0.6em 1.2em;
    font-weight: 700;
}
.view-all a:hover{
    background-color: #000;
    color: #fff;
}

.home-banner{
    padding: 30px 0;
}

.home-banner .container{
    background-image: url(../image/banner-1.jpg) ;
    height: 450px;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-banner .text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-banner h5,.home-banner h1{
    color: #fff;
}
.home-banner h1 span{
    color: yellow;
}
.home-banner-button{
    margin: 1em 0;
}
.home-banner-button a{
    color: #f1f1f1;
    background-color: transparent;
    transition: border .3s, background .3s,color .3s;
    border: 2px solid currentColor;
    padding: 0.6em 1.2em;
    font-weight: 700;
}
.home-banner-button a:hover{    
    background-color: #000;
    border-color: #000;
}

#product-detail .modal-body{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
}

#product-detail .product-name h1{
    color: #1c1c1c;
    font-weight: 700;
    font-size: 1.7em;
    line-height: 1.3;
}
.divider-small{
    height: 3px;
    display: block;
    background-color: rgba(0,0,0,0.1);
    margin: 1em 0 1em;
    width: 100%;
    max-width: 30px;
}

.km-hot{
    background: #F5F5F5;
    border-radius: 10px;
    padding: 20px;  
    margin-bottom: 20px;
}
.title-km{
    display: inline-block;
    background: linear-gradient(180deg, #eb3349 0%, #f45c43 100%);
    padding: 10px;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;

}

.box-promotion{
    font-size: 13px;
}

.input-number-product span{
    display: flex;
    align-items: center;
}
.input-number-product input{
    height: 35px;
    border: solid 1px #ccc;
    text-align: center;
    font-size: 13px;
    border-radius: 5px;
    width: 30px;
}

.add-to-cart button{
    background-color: #d26e4b;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 35px;
    margin: 1em 0;
    border: 1px solid transparent;
    min-height: 2.5em;
}

.product-gallery{
    display: flex;
    flex-direction: column;
}
.product-gallery .sub-image{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 15px;
    padding-top: 20px;
}

.product-gallery .main-image{
    flex-grow: 1;
}
.sub-image img,.main-image img{
    width: 100%;
    max-height: 350px;
}
.sub-image img{
    opacity: .5;
}
.sub-image .choose{
    transform: translateY(-10px);
    border: 1px solid rgba(0,0,0,0.3);
}
.sub-image .choose img{
    opacity: 1;
}